.containerInputs {
    width: 100%;
    display: inline-block;
}

.inputComImagem {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    margin-bottom: 20px;
}

.imagemInput {
    position: absolute;
    right: -10px;
    top: 39%;
    transform: translateY(-50);
    width: 31px;
    height: 31px;
    fill: #333;
    cursor: pointer;
}

.imagemInput:active {
    transform: translateY(1px);
}


.divInput {
    position: relative;
    padding-left: 16px;
    width: 409px;
    max-width: 300%;
    margin-bottom: 20px;
}

.botao {
    margin-top: 15%;
    width: 100%;
    align-items: center;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    padding: 20px;
}

#ok-toggle:checked + .modal { display: flex;}

.overlay {
    position: relative;
    height: 302px;
    background: #FFFAF5;
    border-radius: 22px;
    box-shadow: var(--shadow);
    padding: 24px 20px 20px;
    animation: pop .15s ease-out;
}
@keyframes pop{ from{ transform:scale(.97); opacity: .6;} }

.x {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: .5;
}

.x:active {
    transform: translateY(1px);
}

.x svg {
    width: 100%;
    height: 100%;
}

.ok {
    width: 62px;
    height: 92px;
    border-radius: 50%;
    margin: 6px auto 12px;
    display: grid;
    place-items: center;
}

.modal h3{
    text-align: center;
    margin: 6px 0 6px; 
    font-size: 24px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}

.modal p{
    text-align: center;
    margin: 6px 0 6px;
    font-size: 22px;
    font-family: "DM Sans", sans-serif;
    color: #666666;
}

.btn-login {
    width: 100%;
    height: 57px;
    border-radius: 16px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    color: #E6E6E6;
    background-color: #0C0C0C;
}

.btn-login:active {
    transform: translateY(1px);
}

.botaoLogin {
    padding-top: 20px;
}

